<!-- main app container -->
<!--<div class="jumbotron"> -->
<div class="jumbotron-white">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="col-md-6 col-md-offset-3">
                <img src="reeceGroupLogo.png" width='320px' height="140">
            </div>
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>  

<!-- credits -->
<!--<div class="text-center">-->
<div class="text-center-gray">
<!--
    <p>
        <a href="http://jasonwatmore.com/post/2016/09/29/angular-2-user-registration-and-login-example-tutorial" target="_top">Angular 2 User Registration and Login Example & Tutorial</a>
    </p>
    <p>
        <a href="http://jasonwatmore.com" target="_top">JasonWatmore.com</a>
    </p>
-->
    &nbsp; &nbsp;
    <p>
        Welcome to Where's Wally Reece Map
    </p>
    <!--
    <p>
        Please sign-in
    </p>
    -->
    &nbsp;
    
</div>